<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Welcome Back!  Login Below</div>
	<div class="lines"></div>

	<div class="logininfo" align="center">
		<br /> 
		<a href = "auth/facebook"><%= image_tag "facebookbutton.png" %> </a>	
				
		
	</div>
</div>


