<%= simple_form_for @like %>

	<p class="bluetitle">First, tell us about your project</p>
	<p class="titlepromo">Your project is unique, shine some light on why</p>
	<hr>
	
	
   <p> <%= f.input :post_id
   
 <p> <%= f.submit :class => "btn btn-success btn-large"	 %> </p>

 <% end %>