<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Glad to have you on board!</div>
	<div class="lines"></div>
	
	<div class="fb-facepile" data-href="http://www.mysnowball.com" data-max-rows="1" data-width="300"></div>

	<div class="logininfo" align="center">
		<br /> 		
			<div style = "font-size:14px; font-weight:bold;">Connect with us via Facebook or Twitter - it's free and quick.!</div>
			<br/>
			<a href = "auth/facebook"><%= image_tag "facebookbutton.png" %> </a>	
			<a href = "auth/twitter"><%= image_tag "twitterbutton.png" %> </a>	
		
		<iframe src="http://www.facebook.com/plugins/facepile.php? 
app_id={173481316095568}" scrolling="no" frameborder="0" style="border:none;  
overflow:hidden; width:300px;" allowTransparency="true"></iframe> 

<iframe src="//www.facebook.com/plugins/facepile.php?href=http://www.airbnb.com&amp;action&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=173481316095568" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>


		
	</div>
</div>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js
#appId={173481316095568}&amp;xfbml=1"></script><fb:facepile></fb:facepile>

