<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Glad to have you on board!</div>
	<div class="lines"></div>
	
	<div class="logininfo" align="center">
		<br /> 		
			<div style = "font-size:14px; font-weight:bold;">Connect with us via Facebook - it's free and quick:</div>
			<br/>
			<a href = "auth/facebook"><%= image_tag "facebookbutton.png" %> </a>	
			<div class="smalltext">We will never share your information</div>
		<br/>
		<a><iframe src="http://www.facebook.com/plugins/facepile.php?app_id=173481316095568" scrolling="no" frameborder="0" style="border:none;  
overflow:hidden; width:300px;" allowTransparency="true"></iframe></a> 
	</div>
</div>


