<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Sign up for Snowball</div>
	<div class="lines"></div>

	<div class="logininfo" align="center">
		<br /> 		
			<a href = "auth/facebook"><%= image_tag "facebookbutton.png" %> </a>	
			<a href = "auth/twitter"><%= image_tag "twitterbutton.png" %> </a>	
		
	</div>
</div>
