<%= stylesheet_link_tag "zocial.css" %>
<br/>
<div class="cleanloginbox">
	<div class="logintitle" align="center">Glad to have you on board!</div>
	<div class="lines"></div>

	<div class="logininfo" align="center">
		<br /> 		
			<div style = "font-size:14px; font-weight:bold;">Connect with us via Facebook or Twitter - it's free and quick!</div>
			<br/>
			<a href = "auth/facebook"><%= image_tag "facebookbutton.png" %> </a>	
			<a href = "auth/twitter"><%= image_tag "twitterbutton.png" %> </a>	
		
	</div>
</div>
