<h1>User Dashboard</h1>
<h2><%= @user.name %>

<p>Find me in app/views/users/show.html.erb</p>
<p>I have <%= @user.projects.length %> projects on Narrately </p>
<%= link_to "Launch a new project with Narrately", new_project_path %>

