<%= link_to image_tag("search.png", :class => "fimg2"), new_action_takes_path(action) %>
<div class = "mycreatedprojectsh1"> <%= action.type || "Default Action"  %> </div>
<div class="mycreatedprojectsh1box"></div>