<%= if(p.file1.present?) 
link_to image_tag(p.file1.url(:medium), :class => "fimg2"), p
end %>
<%= link_to p.brand_name || "Default title" + "...", p, :class => "mycreatedprojectsh1" %>
<div class="mycreatedprojectsh1box"></div>
<div class = "image_boxes">
<% p.shares .select{|s| s.user.present? } .first(3) .each do |sh| %>
	<span><%= image_tag(sh.user.profile_square) %> </span>
	<% end %>
	
	

