
<div class="grid_16">
</div>

<div class="grid_11 singleleft">
<div class="myrewardsbox">
<div class="bigtitle">What is Snowball?</div>
<div class="lines"></div>
<div class="grid_12">

<div class="whatissnow">
<h2> Snowball is a crowdmarketing platform.</h2>
<br />
You have a creative project. We get your fans to spread the word. Snowball is a new way to promote your creative project and hook your fans up with unique benefits. 

<br/>

<br>
<br>
<ul class="howitworksline">
<h2>How it Works</h2>
<li>
<img src="../images/pencil.png" alt="" class="hiwimg1" />
<h3>1. Post a Project</h3>
<p>Post your project. These creative projects include books, events, startups, and more. Include details about the project and why your fans should sahre it.</p>
</li>
<li>
<img src="../images/shared.png" alt="" class="hiwimg1" />
<h3>2. Incentizive Sharing</h3>
<p>Offer a reward for your fans that share your project, such as a free copy of the ebook or coupon. Set a reward limit so there is only a limited supply of rewards.
</p>

</li>
<li>
<img src="../images/rewardun.png" alt="" class="hiwimg1" />
<h3>3. Build Awarenss</h3>
<p>Your message is shared with thousands on Facebook and Twitter by your most loyal fans. You get awareness they get rewarded. 
</p>
</li>
</ul>
<br>
<br/ >
<div class="howitworkstext">
<h2>What can you do with Snowball?</h2>
<br /> 
<div class="whatcanyoudo">
<div class="wcydtext">
<h3>Publish your eBook.</h3>
<p>eBook authors use Snowball to build awareness about their work and to generate buzz when a new book is published. Most authors reward their loyal fans with free copies of their book. </p>
</div>
<img src="../images/abeginnersguide.png" alt="" align: right; class="hiwimg1" />
<br />
<br>
<br>
<img src="../images/ebook_sample.png" alt="" align: left; class="hiwimg1" />
<div class="wcydtext2">
<h3>Launch your Startup.</h3>
<p>Entrepreneurs big and small use Snowball to generate awareness about their business venture by rewarding their fans for spreading the word. 
</p>
</div>
<br />
<br>
<br>
<div class="wcydtext">
<h3>Fill your Class.</h3>
<p>Instructors from yoga to karate use Snowball to promote their classes and offer coupons to fans who spread the word. 
</p>
</div>
<img src="../images/hathayoga.png" alt="" align: right; class="hiwimg1" />
<br />
<br>
<br>
<img src="../images/ebook_sample.png" alt="" align: left; class="hiwimg1" />
<div class="wcydtext2">
<h3>Sellout your Event.</h3>
<p>Conference organizers offer special discounts to fans who share their message on Facebook or Twitter.
</p>
</div>
<br />
<br>
<br>
<img src="../images/ebook_sample.png" alt="" align: right; class="hiwimg1" />
<div class="wcydtext">
<h3>Attract Local Foodies.</h3>
<p>Tacos anyone? Food Trucks use Snowball to inform locals when they're near with the food their fans love.  
</p>
</div>
<br />
<br>
<br>



</div>
</div>
</div>

</div>
</div>

</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">

<h2>Get Started</h2>
<p>
See What Snowball can do for you:</p>
<a href="/projects/new.html">Post a project</a>
<br>
<a href="/projects/index.html">Back a project</a>
<br />
<br>
</div>
</div>
</div>
</div>
</div>





