<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="grid_11 singleleft">
<div class="discoverbox">
<div class="bigtitle">How it Works</div>
<div class="lines"></div>
<br />
<br />

<div class="howitworkstext">
You have a creative project. We help your fans spread the word. Snowball is a new way to promote your creative project – books, yoga classes, tours, and more.
</div>
<ul class="howitworksline">
<li>
<h3>1. Post a Project</h3>
<img src="../images/pencil.png" alt="" class="hiwimg1" />
<p>Creator posts their project and includes a reward for their fans. Typical creative projects include books, events, startups, and more. </p>
</li>
<li>
<h3>2. Project is Shared</h3>
<img src="../images/shared.png" alt="" class="hiwimg1" />
<p>Fans build awareness for your creative project by sharing it with their friends on social media.</p>

</li>
<li>
<h3>3. Reward is Unlocked</h3>
<img src="../images/rewardun.png" alt="" class="hiwimg1" />
<p>Your fans get rewarded for helping you out. Typical rewards include a free copy of an ebook or a coupon.</p>
</li>
</ul>

<div class="howitworkstext">
<h3>Frequently Asked Questions</h3>
yo yo yo 
A. Projects
<br />
B. Rewards
<br />
C. Other
</div>
</div>
