
<div class="grid_16">
</div>

<div class="grid_11 singleleft">
<div class="myrewardsbox">
<div class="bigtitle">About Us</div>
<div class="lines"></div>
<div class="grid_12">

<div class="whatissnow">

<b>We love winter!</b>
<p>Snowball was built to help creatives promote their work. Artists, authors, yoga instructors, and many other creative entrepreneurs produce incredible work that many people are unaware of. We wanted to help these folks by empowering their fans to spread the word for them. </p>
<br />

<b>Our Team</b>
<br />
	
<p>Alex Frey
<br/>
<a href="http://twitter.com/#!/alexhfrey">Alex on Snowball</a>
<br/>
<a href="http://twitter.com/#!/alexhfrey">Alex on Twitter</a>
<br />
<br />
Erik Eliason
<br/>
<a href="http://twitter.com/#!/alexhfrey">Erik on Snowball</a>
<br/>
<a href="http://twitter.com/#!/erikeliason">Erik on Twitter</a>
</p>	
<br/>

<b>Contact Us</b>
<br />
<p>
Want to get in touch? Connect with us below:
<br/>
<br/>
<a href="http://www.facebook.com/pages/Snowball/235883943160126?ref=ts">Fan us on Facebook</a>
<br/>
<a href="http://twitter.com/#!/snowballchirps">Follow us on Twitter</a>
<br/>
<a href="http://snowballroll.tumblr.com/">Follow us on Tumblr</a>
</p>
<br />

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDRiSEExWFhUaVZzbTJHdkFnb3BUb1E6MQ" width="600" height="681" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<br />
<br />

</div>

</div>
</div>

</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">

<h2>Get Started</h2>
<p>
See What Snowball can do for you:</p>
<a href="/projects/new.html">Post a project</a>
<br>
<a href="/projects/index.html">Back a project</a>
<br />
<br>
</div>
</div>
</div>
</div>
</div>





