
<div class="grid_16">
</div>

<div class="grid_11 singleleft">
<div class="myrewardsbox">
<div class="bigtitle">How do you make your project Snowball?</div>
<div class="lines"></div>
<div class="grid_12">

<div class="whatissnow" style = "font-size: 14px;">
<h2>Why Snowball?</h2>
<p style = "font-size:14px;"><strong>Social media is broken</strong> - or rather, the way creative entrepeneurs, startups, and small businesses use it is in desperate need of change. 
Most of those that are spending hours building up facebook and twitter preseneces <strong>are wasting hundreds of hours and thousands of dollars</strong>. The simple truth is that:
<ul>
<li>Most people that purchase your product will never connect with you</li>
<li>Of the ones that do, <a href = "http://www.allfacebook.com/7-biggest-fan-page-marketing-mistakes-2011-05" target = "new"> 
        a full 99.5% will never visit your page again </a>
<li><a href = "http://www.allfacebook.com/shocker-3-to-7-5-of-fans-see-your-pages-posts-2011-06" target = "new"> 95%</a> of your fans will miss seeing your news feed posts</li></ul></p>
<br />

<p style = "font-size:14px;"><strong>Snowball offers a better approach - one focused on leveraging the inherent viral growth that comes from getting your passionate fans to authentically spread the word, rather than one based on talking ever more loudly into to an echo chamber</strong>. Here's how it works:
<ul> 
<li>Create your own free landing page by <a href = "/signup">connecting with your facebook or twitter account </a> and filling out a form - it takes under five minutes </li>
<li>Tell your friends, fans, and customers about your snowball page by sharing it via your website, facebook, twitter, or email </li>
<li>When your fans come to your snowball page, they spread some love to facebook or twitter in order to unlock a 'reward' that you specify </li>
<li>Your initial fans' friends see their posts and learn about your project. Some of them also share to get their own reward! And then - you guessed it - all of their friends are also exposed to your work!</li>
<li>Pretty soon hundreds of people who you might not even know have seen your project!</li>
<li>At the end of the project, we send you an email with the names and contact information of everyone that shared so you can follow up with them to see how they liked your product</li>
</ul>
</p>

<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<br/>
<h2>What can you do with Snowball?</h2>
<div class="howitworkstext">

<br /> 
<div class="whatcanyoudo">
<div class="wcydtext">
<h3>Publish your eBook.</h3>
<p>eBook authors use Snowball to generate buzz when a new book is published. Most authors reward their loyal fans with free copies of their work. </p>
</div>
<img src="../images/abeginnersguide.png" alt="" align: right; class="hiwimg1" />
<br />
<br>
<br>
<div class="wcydtext2">
<h3>Launch your Startup.</h3>
<p>Entrepreneurs big and small use Snowball to generate awareness about their business by incentivizing their loyal early adapters to spread the word. 
</p>
</div>
<img src="../images/startup.png" alt="" align: left; class="hiwimg2" />
<br />
<br>
<br>
<div class="wcydtext">
<h3>Fill your Class.</h3>
<p>Instructors from yoga to karate use Snowball to promote their classes and offer discount coupons to fans who spread the word. 
</p>
</div>
<img src="../images/hathayoga.png" alt="" align: right; class="hiwimg1" />
<br />
<br>
<br>
<div class="wcydtext2">
<h3>Sellout your Event.</h3>
<p>Conference organizers offer special discounts to fans who evangelize their event on Facebook or Twitter.
</p>
</div>
<img src="../images/concert.png" alt="" align: left; class="hiwimg2" />
<br />
<br>
<br>
<div class="wcydtext">
<h3>Attract Local Foodies.</h3>
<p>Tacos anyone? Food Trucks use Snowball to inform locals when they're near with the food their fans love.  
</p>
</div>
<img src="../images/foodtruck.png" alt="" align: right; class="hiwimg1" />
<br />
<br>
<br>



</div>
But the real question is, what can Snowball do for you? <%= link_to "Get Started", signup_path, :class => "getstarted" %>
</div>
</div>

</div>
</div>

</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">


<h3>See What Snowball can do for you:</h3>
<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<br />
<br>
</div>
</div>
</div>
</div>
</div>





