
<div class="grid_16">
</div>

<div class="grid_11 singleleft">
<div class="myrewardsbox">
<div class="bigtitle">About Us</div>
<div class="lines"></div>
<div class="grid_12">

<div class="whatissnow">

<b>How to make your product snowball</b>
<p>Social media is broken - or rather, the way creative entrepeneurs, startups, and small businesses use it is in desperate need of change. 
Many spend hours building up facebook and twitter preseneces, only to find that a) Most of the customers have no incentive to connect with them, and never do b) </p>
<br />

<p>Here's how it works... 
<p style = "font-weight:bold">-Create your own free landing page by <a href = "/signup">connecting with your facebook or twitter account </a> and filling out a form - it takes under five minutes </p>
<p style = "font-weight:bold">-Tell your friends, fans, and customers about your snowball page by sharing it via your website, facebook, twitter, or email </p>
<p style = "font-weight:bold">-When your fans come to your snowball page, they spread some love to facebook or twitter in order to unlock a 'reward' that you specify </p>
<p style = "font-weight:bold">-Your initial fans' friends see their posts and learn about your project. Some of them also share to get their own reward! And then - you guessed it - all of their friends are also exposed to your work!</p>
<p style = "font-weight:bold">-Pretty soon hundreds of people who you might not even know have seen your project!</p>
<p style = "font-weight:bold">-At the end of the project, we send you an email with the names and contact information of everyone that shared so you can follow up with them to see how they liked your product</p>
</p>

<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<br/>

<b>Our Team</b>
<br />
	
<p>Alex Frey
<br/>
<a href="http://twitter.com/#!/alexhfrey">Alex on Snowball</a>
<br/>
<a href="http://twitter.com/#!/alexhfrey">Alex on Twitter</a>
<br />
<br />
Erik Eliason
<br/>
<a href="http://twitter.com/#!/alexhfrey">Erik on Snowball</a>
<br/>
<a href="http://twitter.com/#!/erikeliason">Erik on Twitter</a>
</p>	
<br/>

<b>Contact Us</b>
<br />
<p>
Want to get in touch? Connect with us below:
<br/>
<br/>
<a href="http://www.facebook.com/pages/Snowball/235883943160126?ref=ts">Fan us on Facebook</a>
<br/>
<a href="http://twitter.com/#!/snowballchirps">Follow us on Twitter</a>
<br/>
<a href="http://snowballroll.tumblr.com/">Follow us on Tumblr</a>
</p>
<br />

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDRiSEExWFhUaVZzbTJHdkFnb3BUb1E6MQ" width="600" height="681" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<br />
<br />

</div>

</div>
</div>

</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">


<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<p>(It's Free and takes under 2 minutes)</p>
<br>

<br />
<br>
</div>
</div>
</div>
</div>
</div>





