<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="grid_11 singleleft">
<div class="myprojectbox">
<div class="bigtitle">How it Works</div>

<div class="lines"></div>

<div class="grid_12">
</div>
</div>


<div class="mysharesbox">
<div class="bigtitle">My Shares</div>
<div class="lines"></div>
<div class="grid_12">

<ul class="featprod grayprod cat">
<li>
</li>
</ul>

</div>
</div>





</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
</div>


</div>