
<div class="grid_16">
</div>

<div class="grid_11 singleleft">
<div class="myrewardsbox">
<div class="bigtitle">Frequently Asked Questions</div>
<div class="lines"></div>
<div class="grid_12">

<div class="whatissnow">

Step 1: Submit
<br />
<p>Complete the submission form. It typically takes under 2 minutes. </p>
<b>Step 2: Review</b>
<br />
<p>
Once submitted, the team here at Snowball will review the project and offer any sugesstions. We'll review it as soon as possible- typically under 24 hours.</p>
<b>Step 3: Publish</b>
<br />
<p>Once approved, the project will be published on the site. At that point you'll be able to share the project with your fans. Of cousre, Snowball will tweet it like mad.</p>
<br />
<br />
<br />

</div>

</div>
</div>

</div>
<div class="grid_4 righthome">

<div class="categorybox">
<div class="authordata">
<div class="grid_4">

<h2>Get Started</h2>
<p>
See What Snowball can do for you:</p>
<a href="/projects/new.html">Post a project</a>
<br>
<a href="/projects/index.html">Back a project</a>
<br />
<br>
</div>
</div>
</div>
</div>
</div>





