
<div class="container_16">
	<div class="grid_16">
		<div class="sliderinner">
			<ul>
			<li>
			<div class="leftpart">
				<img src="images/slider2.png" alt="" />
		</div>
		<div class="rightpart">

			<h1>The easiest way to promote your project</h1>
			<div class="pdesc">Narrately is a new way to promote your book using word of mouth marketing.</div>
			<%= link_to "Get Started", signup_path, :class => "getstarted" %>
		</div>
		</li>

		<li>
		<div class="leftpart">
			<img src="images/slider2.png" alt="" />
		</div>
		<div class="rightpart">
			<h1>Customer Powered Marketing</h1>
			<div class="pdesc">Let customers tell the story about your creative project.</div>
			<a class="padd" href="#">See Example ></a>
		</div>
		</li>

<li>
<div class="leftpart">
<img src="images/slider2.png" alt="" />
</div>
<div class="rightpart">
<h1>Narrately helps creative types</h1>
<div class="pdesc">We help authors, musicians, and entrepreneurs leverage word of mouth marketing to build a following.</div>
<a class="padd" href="howitworks.html">How it Works ></a>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="clear"></div>

<div class="featuredproducts">
<div class="container_16">
<div class="grid_16">
<h2 class="titlefp">Featured Projects</h2>
<img src="images/shizzle.png" alt="shizzle" class="shizzlefp" />
<div class="clear"></div>

<ul class="featuredprojects">
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="onsale"><span class="oldprice">LEFT</span>8</span>
<span class="projecttitle"><href="product.html">Nikon Camera Project in SF Title Long!</span>
</li>
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="onsale"><span class="oldprice">LEFT</span>1</span>
<span class="projecttitle"><href="product.html">Special Gift</span>
</li>
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="goalmet"><span class="oldprice">GOAL</span>MET</span>
<span class="projecttitle"><href="product.html">Adidas shoes</span>
</li>
</ul>

</div>
</div>
</div>




