<link href="assets/css/bootstrap.css" rel="stylesheet">
<%= javascript_include_tag "bootstrap-carousel.js" %>      


<div class="hometitle">Amplify your brand ambassadors</div>
<div class="pdesc">Snowball is the best way for startups and creative entrepreneurs to turn passionate fans into evangelists. 
<div class="ctabuttons">
<a class="btn btn-success btn-large" href="/how-it-works/">Learn More</a> 
</div>
</div>
<br />
<br />
<div class="lines"></div>
<div class="hometitle2">Popular Fan Clubs on Snowball</div>
<div class="discoverboxhp">
<ul class="mysharedprojects">
<% Project.all .sort_by {|p| p.shares.length} .last(3) .each do |p| %>
<li>
<%= render :partial => "shared/projects", :locals => { :user => @user, :p => p } %>
</li>
<%end%>
</ul>
</div>	
<div>

<div class="lines"></div>
<div class="hometitle2">A few Startup Supporters</div>
<div class="discoverboxhp">
<iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Fwww.facebook.com%2Fsnowballroll&amp;action&amp;size=large&amp;max_rows=1&amp;width=840&amp;colorscheme=light&amp;appId=185906091473461" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:840px;" allowTransparency="true"></iframe>
</div>	
<div>




