<link href="assets/css/bootstrap.css" rel="stylesheet">
<%= javascript_include_tag "bootstrap-carousel.js" %>      


<div class="hometitle">Make <em>Social</em> Work for <em>You</em></div>
<div class="pdesc">Snowball's all-in-one "tribe-building" software makes it ridiculously simple to build, manage, and grow your audience through smart social marketing. 

<div class="ctabuttons">
<a class="btn btn-success btn-large" href="/beta/">Sign up for the beta!</a> 
<br>	

</div>
</div>
<br />
<br />
<div class="lines"></div>
<div class="hometitle2"><u>How to build a "tribe" with Snowball</u></div>
<div class="discoverboxhp">


<div class = "hiw_box">
<div class = "hiw">
<div class = "hometitle4">1)Launch your projects virally...</div>
<p>Launch your new work by giving away a preview or early edition of your work for the "price" of a social media share and an email address. It's 
the 2012 way to build your audience. </p><p>Snowball makes it easy to launch viral promotions with a click of the button.  </p>
</div>
<div class = "hiw">
<%= image_tag("ib1.png", :class => "fimg2") %>
</div>




<div class = "hiw">
<%= image_tag("ib2.png", :class => "fimg2") %>
</div>
<div class = "hiw">
<div class = "hometitle4">2)Engage intelligently...  </div>
<p>Say hello to your audience - it's only polite. Snowball makes it easy to automatically ask your 'leads' what they think of your work.</p> <p> Once 
you have found someone interested in your work, take the next step to convert them into a true tribe-member.</p>
</div>


<div class = "hiw">
<div class = "hometitle4" > 3) Deputize your biggest fans... </div>
<p>Advertising is so 20th century. With social media, your fans have powerful tools to authentically spread your message for you. 
Empower them to use those tools by asking your 'inner circle' to share offers, 'like' posts, write reviews, and more. </p><p>Track your fans actions across social platforms and show your most loyal 
supporters that you appreciate their efforts by giving them access to special offers or rewards. </p>
</div>
<div class = "hiw">
<%= image_tag("ib3.png", :class => "fimg2") %>
<br/> <br/>
</div>

<a class="btn btn-success btn-large" href="/beta/" style = "margin-left:40px;">Sign up!</a> 
</div>



</div>	
<div>

<div class="lines"></div>
<div class="hometitle2">Fans love Snowball</div>
<div class="discoverboxhp">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSnowballRoll&amp;width=960&amp;height=185&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=185906091473461" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:960px; height:185px;" allowTransparency="true"></iframe>
</div>	
<div>




