<link href="assets/css/bootstrap.css" rel="stylesheet">
<%= javascript_include_tag "bootstrap-carousel.js" %>      

<div class="container_16">

<div class="grid_16">


<div class="sliderinner">

<!-- intro and call to action- left side -->
<div class="leftpart">
<h1>Build a Movement</h1>
<div class="pdesc">Snowball is a tool which helps you build buzz about your project or campaign.</div>
<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<p>(It's Free and takes under 2 minutes)</p>
</div>
			
<!-- Feautred projects- right side -->

<div class="rightpart">
<ul class="featuredprojectshp">

<a href="#">
<li>
<img src="images/trees.jpg" alt="" class="fimg" />
<div class="hmtextfeat">
<span class="hmbackers"><span class="hmbackersnum">Backers</span><span class="hmbackersnumb">30</span>

</span>
<p>Exploring the wild mountains</p>
<p3>Reward: Free book</p3>
</div>
</li>
</a>

</ul>
</div>



			
</div>
</div>
</div>
<div class="clear"></div>


<div class="featuredproducts">
<div class="container_16">
<div class="grid_16">
<h2 class="titlefp">Featured Projects</h2>
<img src="images/shizzle.png" alt="shizzle" class="shizzlefp" />
<div class="clear"></div>

<ul class="featuredprojects">
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="onsale"><span class="oldprice">LEFT</span>8</span>
<span class="projecttitle"><href="product.html">Nikon Camera Project in SF Title Long!</span>
</li>
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="onsale"><span class="oldprice">LEFT</span>1</span>
<span class="projecttitle"><href="product.html">Special Gift</span>
</li>
<li>
<img src="images/demo-img3.png" alt="" class="fimg" />
<span class="goalmet"><span class="oldprice">GOAL</span>MET</span>
<span class="projecttitle"><href="product.html">Adidas shoes</span>
</li>
</ul>

	
</div>
</div>
</div>
</div>
</div>




