
<div class="container_16">
	<div class="grid_16">
		<div class="sliderinner">
			<ul>
			<li>
			<div class="leftpart">
				<img src="images/slider2.png" alt="" />
		</div>
		<div class="rightpart">

			<h1>The hardest way to promote your project</h1>
			<div class="pdesc">Narrately is a new way to promote your book using word of mouth marketing.</div>
			<a class="padd" href="create.html">Get Started ></a>
		</div>
		</li>

		<li>
		<div class="leftpart">
			<img src="images/slider2.png" alt="" />
		</div>
		<div class="rightpart">
			<h1>Customer Powered Marketing</h1>
			<div class="pdesc">Let customers tell the story about your creative project.</div>
			<a class="padd" href="#">See Example ></a>
		</div>
		</li>

<li>
<div class="leftpart">
<img src="images/slider2.png" alt="" />
</div>
<div class="rightpart">
<h1>Narrately helps creative types</h1>
<div class="pdesc">We help authors, musicians, and entrepreneurs leverage word of mouth marketing to build a following.</div>
<a class="padd" href="howitworks.html">How it Works ></a>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="clear"></div>

<div class="featuredproducts">
<div class="container_16">
<div class="grid_16">
<h2 class="title">Featured Projects</h2>
<img src="images/shizzle.png" alt="shizzle" class="shizzle" />
<div class="clear"></div>
<ul class="featprod carousels">
<li>
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="onsale"><span class="oldprice">$214</span>$199</span>
<span class="itemhot">HOT</span>
</li>

<li>
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Special Gift</a></span>
<span class="smalldesc">Item no.: 1455</span>
<span class="onsale"><span class="oldprice">$214</span>$199</span>
<span class="itemnew">NEW</span>
</li>

<li>
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Adidas shoes</a></span>
<span class="smalldesc">Item no.: 166</span>
<span class="green">$111</span>
</li>

<li class="lilast">
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="green">$199</span>
</li>
<li class="lilast">
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="green">$199</span>
</li>
<li class="lilast">
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="green">$199</span>
</li>
<li class="lilast">
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="green">$199</span>
</li>
<li class="lilast">
<img src="images/demo-img1.jpg" alt="" class="fimg" />
<span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
<span class="smalldesc">Item no.: 1422</span>
<span class="green">$199</span>
</li>


</ul>

</div>

</div>
</div>




<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>

	