<link href="assets/css/bootstrap.css" rel="stylesheet">
<%= javascript_include_tag "bootstrap-carousel.js" %>      


<div class="hometitle">Start a Tribe</em></div>
<div class="pdesc">Snowball's all-in-one <a href = "http://sethgodin.typepad.com/seths_blog/2008/01/tribal-manageme.html" target = "new">"tribe-building" </a> software makes it ridiculously simple to build, manage, and grow your audience through smart social and email marketing. 

<div class="ctabuttons">
<a class="btn btn-success btn-large" href="/beta/">Sign up for the beta!</a> 
<br>	

</div>
</div>
<br />
<br />
<div class="lines"></div>
<div class="hometitle2"><u>"Know your audience" like never before</u></div>
<div class="discoverboxhp">


<div class = "hiw_box">
<div class = "hiw">
<div class = "hometitle4">1) Build</div>
<p>Capture email addresses and get valuable viral social media impressions by giving away a preview of your work in exchange for a facebook post and an email address. </p><p>Snowball makes it easy to launch a viral promotion right from facebook with a click of the button.  </p>
</div>
<div class = "hiw">
<%= image_tag("ib1.png", :class => "fimg2") %>
</div>




<div class = "hiw">
<%= image_tag("ib2.png", :class => "fimg2") %>
</div>
<div class = "hiw">
<div class = "hometitle4">2) Manage  </div>
<p>Say hello to your audience - it's only polite. Snowball can automatically ask your 'leads' what they think of your work and classify them in our database accordingly.</p> <p> So you will always
know the names, faces, and contact information of your true 'tribe.' </p>
</div>


<div class = "hiw">
<div class = "hometitle4" > 3) Grow </div>
<p>Advertising is so 20th century. With social media, your tribe has the tools to authentically spread your message for you. 
Empower them to use those tools by asking your 'inner circle' to share offers, 'like' posts, write reviews, and more. </p><p>Track your fans actions across social platforms and show your most loyal 
supporters that you appreciate their efforts by thanking them personally or giving them access to special offers or rewards. </p>
</div>
<div class = "hiw">
<%= image_tag("ib3.png", :class => "fimg2") %>
<br/> <br/>
</div>


</div>
<div>
<a class="btn btn-success btn-large" href="/beta/" style = "margin-left:40px;">Sign up!</a> 
</div><br/>

</div>	
<div>

<div class="lines"></div>

<div class="discoverboxhp">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSnowballRoll&amp;width=960&amp;height=185&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=185906091473461" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:960px; height:185px;" allowTransparency="true"></iframe>
</div>	
<div>




