<link href="assets/css/bootstrap.css" rel="stylesheet">
<%= javascript_include_tag "bootstrap-carousel.js" %>      



<div class="grid_16">


<div class="sliderinner">

<!-- intro and call to action- left side -->
<div class="leftpart">
<h1>Build a Movement</h1>
<div class="pdesc">Snowball is a tool which helps you build buzz about your project or campaign.</div>
<%= link_to "Get Started", signup_path, :class => "getstarted" %>
<p>(It's Free and takes under 2 minutes)</p>
</div>
			
<!-- Feautred projects- right side -->

<div class="rightpart">
<ul class="featuredprojectshp">
<p><b>Featured Project:</b></p>
<a href="#">
<li>
<img src="images/trees.jpg" alt="" class="fimg" />
<div class="hmtextfeat">
<span class="hmbackers"><span class="hmbackersnum">Backers</span><span class="hmbackersnumb">30</span>

</span>
<p>Exploring the wild mountains</p>
<p3>Reward: Free book</p3>
</div>
</li>
</a>

</ul>
</div>



			
</div>
</div>
</div>
<div class="clear"></div>


<div class="featuredproducts">
<div class="container_16">
<div class="grid_16">
<div class="clear"></div>
<ul class="benefits">
<li>
<img src="../images/ben1.png" alt="" class="benefitspic"/>
<span class="projecttitlebens"><href="product.html">Post Your Project</span>
<p>Easily create a page for your project in under 2 minutes. <%= link_to "Try it out", signup_path, :p => "getstarted" %></p>
 
</li>
<li>
<img src="../images/ben2.png" alt="" class="benefitspic"/>
<span class="projecttitlebens"><href="product.html">Reward Backers</span>
<p>Incentivize backers to share your project by providing them a reward, like a free e-book or coupon.</p>
</li>
<li>
<img src="../images/ben3.png" alt="" class="benefitspic"/>
<span class="projecttitlebens"><href="product.html">Generate Buzz</span>
<p>Your backers  promote your project, generating thousands of high-quality impressions on Facebook and Twitter.</p>
</li>
</ul>

	
</div>
</div>
</div>
</div>




