<div class="howitworksbox">

<div class="howitworksbanner">Why artists should use Snowball</div>
<p class="howitworksintro">Creating a fan club on Snowball helps artists build the strongest relationship with their fans.</p>
<div class="ultimatecenter">


<div class="wcydtext">
<h2>
<img src="../images/num1.png"/>
Go beyond the Like</h2>
<p>
The value of existing social media page connections have become commoditized and meaningless from over-use and the triviality of the action involved. <b>99.5% of those that Like a Facebook page never return. </b> 
</p>
</div>



<div class="wcydtext">
<h2>
<img src="../images/num2.png" "align:left" />
Own the Relationship 
</h2>
<p>
When someone joins your fan club on Snowball, they login with their Facebook account and grant data permissions. This allows you to email them at any time and own the relationship. <b>No more paying another company for ads just to reach YOUR fans.</b> 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num3.png"/>
All on one platform</h2>
<p>
Facebook, Twitter, Pinterest, YouTube, Yelp, Word Press... the list of relevant platforms keeps growing. Snowball integrates with all of them, so you can manage fans in one place. 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num4.png"/>
Go Viral 
</h2>
<p>
With Snowball, artists can empower their fans to spread their message for them.  

</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num5.png"/>
Recognize & reward
</h2>
<p>
Snowball makes it easy for you to reward and recognize your most influential fans. <b>Make your sure your fans feel special - it's just common sense.<br/>
<br/>
<%= link_to "Create your fan club >>", new_project_path, :class => "btn btn-success btn-large" %> 
</div>





</div>
</div>

