<div class="howitworksbox">

<div class="howitworksbanner">Why you should use Snowball</div>
<p class="howitworksintro">99.5% of people that 'like' your facebook page will never return to it. Snowball pages help you go beyond the like.</p>
<div class="ultimatecenter">


<div class="wcydtext">
<h2>
<img src="../images/num1.png"/>
Connect with your true fans</h2>
<p>
Existing social media page connections have become commoditized and meaningless. <b> Snowball is a place to connect and engage with your true fans </b>. 
</p>
</div>

<div class="wcydtext">
<h2>
<img src="../images/num2.png"/>
Turn fans into evangelists
</h2>
<p>
Snowball makes it easy for you to ask your fans to share news or special offers with their friends - and measure the results at every step.<br/>
<br/>

</div>


<div class="wcydtext">
<h2>
<img src="../images/num3.png"/>
Go Viral 
</h2>
<p>
Use your fans to launch viral social promotions that give away coupons or downloads for the price of a tweet or facebook share. 
<br/>
</p>
</div>

<div class="wcydtext">
<h2>
<img src="../images/num4.png" "align:left" />
Own your fan relationships 
</h2>
<p>
When someone joins your fan club on Snowball, they login with their Facebook account and grant data permissions. This allows you to email them at any time - truly owning the relationship. <b>No more paying another company for ads just to reach YOUR fans.</b> 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num5.png"/>
Utilize multiple platforms</h2>
<p>
Facebook, Twitter, Pinterest, YouTube, Yelp, Word Press... the list of relevant platforms keeps growing. Snowball integrates with all of them, so you can manage your fans in one place. 
</p>
</div>

<%= link_to "Create your fan club >>", new_project_path, :class => "btn btn-success btn-large" %> 







</div>
</div>

