<div class="howitworksbox">

<div class="howitworksbanner">Why you should use Snowball</div>
<p class="howitworksintro">Connect with your audience more seamlessly than ever before</p>
<div class="ultimatecenter">


<div class="wcydtext">
<h2>
<img src="../images/num1.png"/>
Make email easy again</h2>
<p>
Seamlessly manage your 'guaranteed buyers list' without the need to code or design anything. Put your email on autopilot so that you can think 
less about marketing and more about creating great stuff</p>
</div>

<div class="wcydtext">
<h2>
<img src="../images/num2.png"/>
Integrate email with social
</h2>
<p>
Facebook is great for sharing (and getting your fans to share), but only 5% of your fans will see a typical news feed post. Combine
email and facebook in one easy-to-use dashboard to get the best of both worlds.<br/>

</div>


<div class="wcydtext">
<h2>
<img src="../images/num3.png"/>
Go Viral with a click
</h2>
<p>
Use your fans to launch viral social promotions that give away coupons or downloads for the price of a tweet or facebook share. 

</p>
</div>

<div class="wcydtext">
<h2>
<img src="../images/num4.png" "align:left" />
Track everything
</h2>
<p>
 See which of your fans are your most influential advocates and seamlessly give them special offers or rewards as thanks
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num5.png"/>
Utilize social psychology</h2>
<p>
People like to feel appreciated - it's kind of common-sense. Recognize your top fans for promoting your content and watch your work really start to Snowball. 
</p>
</div>

<%= link_to "Sign up for the beta >>", new_lead_path, :class => "btn btn-success btn-large" %> 







</div>
</div>

