<div class="howitworksbox">

<div class="howitworksbanner">Why use Snowball?</div>
<p class="howitworksintro">The brands that win the future will be those that build the strongest relationships with their customers. </p>
<div class="ultimatecenter">


<div class="wcydtext">
<h2>
<img src="../images/num1.png"/>
Go beyond 'liking'</h2>
<p>
The value of existing social media page connections have become commoditized and meaningless from over-use and the triviality of the action involved. <b>99.5% of those that 'like' a facebook page never return. </b> 
</p>
</div>



<div class="wcydtext">
<h2>
<img src="../images/num2.png" "align:left" />
Own the relationship 
</h2>
<p>
When your users back you on Snowball, they login with their facebook account and grant data permissions, allowing you to email them at any time. <b>No more paying another company for ads just to reach YOUR fans.</b> 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num3.png"/>
Sit on top of all social media</h2>
<p>
Facebook, Twitter, Pinterest, Quora, Yelp, Word Press... the list of relevant platforms keeps growing. Snowball integrates with all of them, showing you user actions across networks in one unified view. 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num4.png"/>
Reward, recognize, incentivize
</h2>
<p>
Snowball makes it easy for you to reward and recognize your most influential brand advocates. <b>Make your brand advocates feel special and they will do a lot more for you - it's just common sense.</b> 
</p>
</div>


<div class="wcydtext">
<h2>
<img src="../images/num5.png"/>
Own your own data
</h2>
<p>
Other companies charge tens of thousands of dollars to tell you about your own fans. With Snowball, you own the data for less than 1/20th of the price. </p>
<br/>
<%= link_to "Create your fan club >>", new_project_path, :class => "btn btn-success btn-large" %> 
</div>





</div>
</div>

