<div class="grid_11 singleleft">
<div class="discoverbox">
<div class="bigtitle">Discover & Support Great Projects</div>
<div class="lines"></div>

<ul class="mysharedprojects">
<% Project.where("promotion_limit > 0") .sort_by {rand} [0..8] .each do |p| %>
<li>
<%= render :partial => "shared/projects", :locals => { :user => @user, :p => p } %>

</li>
<%end%>
</ul>

<div class="grid_12">
</div>


