<div class="container_16 padding50">
<div class="grid_16">
</div>


<div class="grid_11 singleleft">
<div class="discoverbox">
<div class="bigtitle">Discover & Support Great Projects</div>
<div class="lines"></div>

<ul class="mysharedprojects">
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="liveh1"><href="">Adidas shoes my titles..</></span>
<hr> 
<td><a class="btn btn-large btn-success" align="middle" href="#">8 LEFT</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="liveh1"><href="">Adidas shoes my titles..</></span>
<hr> 
<td><a class="btn btn-large btn-success" align="middle" href="#">8 LEFT</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="liveh1"><href="">Adidas shoes my titles..</></span>
<hr> 
<td><a class="btn btn-large btn-success" align="middle" href="#">8 LEFT</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youvesharedh1"><href="">Adidas shoes my titles..</></span>
<hr>
<td><a class="btn btn-info btn-large" align="middle" href="#">DOWNLOAD</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youvesharedh1"><href="">Adidas shoes my titles..</></span>
<hr>
<td><a class="btn btn-info btn-large" align="middle" href="#">DOWNLOAD</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youvesharedh1"><href="">Adidas shoes my titles..</></span>
<hr>
<td><a class="btn btn-info btn-large" align="middle" href="#">DOWNLOAD</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youvesharedh1"><href="">Adidas shoes my titles..</></span>
<hr>
<td><a class="btn btn-large" align="middle" href="#">GOAL MET</a></td>
</li>
<li>
<img src="../images/demo-img3.png" alt="" class="fimg" />
<span class="youvesharedh1"><href="">Adidas shoes my titles..</></span>
<hr>
<td><a class="btn btn-large" align="middle" href="#">GOAL MET</a></td>
</li>
</ul>


<div class="grid_12">
</div>
</div>

