<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>


<div class="container_16 padding50">

<div class="grid_11 singleleft">
<div class="projectbox">
<div class="bigtitle"><%= @project.project_title %></div>
<div class="lines"></div>
<div class="productimages">
<div class="mainimg"><%= image_tag @project.project_image.url %></div>
</div>

<div class="productdata">
<h6>About This Project</h6>
<%= @project.description %>
</div>
</div>


<div class="projectshare">
<div class="productdata">
<h4>Supporter Props</h4>
<div class="grid_10">
Tweets.....tweets......and more tweets</div>
</div>
</div>
</div>


<div class="grid_4 righthome">


<div class="categorybox">
<div class="sharebox">
<h6>Endorse & Earn Reward</h6>
<div class="grid_4">
<a href="confirm.html"><span class="onsaleleft"><span class="saleleft">LEFT:</span>8</span></a>

<div class="infospan">Reward: <span>Free Book</span></div>
<div class="infospan">Total:<span>20</span></div>
<div class="infospan">Left:<span>8</span></div>
<%= link_to "Share it!", new_project_share_path(@project), :class => "shareit" %>
</div>
</div>
</div>



<div class="categorybox">
<div class="authordata">
<h6>About Author</h6>
<div class="grid_4">
<img src="http://www.socialearth.org/wp-content/uploads/2012/01/facebook.jpg" alt="" title="facebook" width="220" height="220" class="alignnone size-full wp-image-16236" />
<a href="#"><h5>Alex Frey</h5></a>
<p>
This is my under 200 character bio. 
Keeping it short!</p>
<ul>
<li><a href="https://www.facebook.com/alex.h.frey">Facebook</a></li>
<li><a href="https://twitter.com/#!/alexhfrey">Twitter</a></li>
</ul>
</div>
</div>
</div>
<div class="categories-widget">
<div class="categorybox sellers">
<h6>Supporters</h6>
<ul>
<li>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
</li>
<li>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
</li>
<li>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
<a href="#"><img class="smallpreview" alt="" src="images/smallcam.png"></a>
</li>
</ul>
</div>
</div>
</div>


</div>