<div class="projectcreatebox">

<fieldset class = "control-group">
<h2>We've created a page for you!</h2>
<h2>Next Steps:</h2>
<li><b>Share this on facebook</b> by clicking the button below</li>
<li>Share the url for your promotion page on your website, email signature, twitter acount, and wherever else
you interact with your users. Your unique url is <b><a href ="http://<%=@release.page%>"> <%=@release.page%> </a> </b>
<li>Check your admin dashboard frequently to watch your release unfold! </li>


<%= link_to "Share it on Facebook", "share", :class => "btn btn-large btn-primary" %>


</div>